// general
$ff: '';

$__IMG_PATH: '../img/';
$__FONTS_PATH: '../fonts/';


// colors
$color_primary: #fff;
$color_secondary: #fff;
$color_default: #fff;
$transparent: rgba(0,0,0,0);

//layout
$container-xl: '';
$container: '';


//breakpoints
$break_desc: '1440px';
$break_md: '1223px';
$break_sm: '992px';
$break_xs: '768px';
$break_xxs: '500px';
