// general
$ff: 'Barlow Condensed', sans-serif;
$fz: 17px;
$fw: 400;
$lh: 20px;

$__IMG_PATH: '../img/';
$__FONTS_PATH: '../fonts/';


// colors
$color_primary: #4294FF;
$color_default: #707070;
$color_lightGray: #E4E8F2;
$color_ligthBlue: #F8FAFF;
$color_green: #6EBF28;
$color_text: #6677A0; 
$color_white: #fff; 
$schema_black: #535353;
$schema_blue: #4294FF;
$schema_red: #FF4B83;
$schema_green: #C2F4C3;
$transparent: rgba(0,0,0,0);

//layout
$container-xl: 1170px;
$container: 100%;


//breakpoints
$break_desc: '1440px';
$break_md: '1223px';
$break_sm: '992px';
$break_xs: '768px';
$break_xxs: '500px';
