- const title = "Home page";

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root

    include ../blocks/header.pug

    main.main
      include ../blocks/hero.pug
      include ../blocks/awards.pug
      include ../blocks/delivery-watch.pug
      include ../blocks/references.pug
      include ../blocks/faq.pug

    include ../blocks/footer.pug
