- const title = "Home page";

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root

    include ../blocks/header.pug

    main.main
      .container 
        include ../blocks/tabs.pug
        include ../blocks/faq.pug

    include ../blocks/footer.pug
