.hero {
  padding: 40px 0 76px 0;

  @include sm {
    padding: 94px 0 127px 0;
  }

  .container {
    
    @include sm {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 48px;
      align-items: center;
    }
  }

  &__content {

    @include sm {
      order: 1;
    }
  }

  &__banner {

    @include sm {
      order: 2;
    }

    img {
      margin: 0 auto 28px auto;
      width: 225px;
      height: auto;

      @include sm {
        margin-right: auto;
        width: 100%;
        max-width: 394px;
      }
    }
  }

  &__intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 56px;
  }

  &__introItem {

    p {

      span {
        display: inline-block;
        margin-top: 12px;
        font-weight: 700;
        font-size: 25px;
      }
    }

    &:last-child {

      p {
        text-align: right;
      }
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;

    .btn {
      font-weight: 700;
      display: flex;
      align-items: center;

      img {
        margin-left: 16px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__actions {
    padding-top: 56px;
    display: flex;

    .btn {

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
