section.awards 
  .container 
    .awards__intro 
      .title Sİz ve arkadaşlarınız İçİn ödüller
      p Dilediğiniz kadar arkadaşınızı yönlendirebilirsiniz. ICRYPEX referans programı arkadaşlarınızla beraber bonus kazanmanıza olanak sağlar. Siz ve arkadaşlarınız gereksinimleri karşıladığınızda ödüllendirilmeye hazırsınız demektir!
      p Davet eden kişi, davet ettiği arkadaşlarının işlem ücretlerinden kazanacağı oranı paylaşmak isteyebilir. Ali, Ayşe’yi davet ediyorsa Ayşe’nin işlem ücretlerinden %000 oranına kadar bonus kazanacaktır. Bu oranı kendisi belirleyerek Ayşe ile paylaşır ve bu durumda Ayşe de kazanır.

    .awards__item 
      .awards__banner 
        picture
          source(srcset="./img/webp/aw1.webp" type="image/webp")
          img(src="./img/aw1.png" alt="")
      .awards__content 
        .title Referans lİnkİ paylaşın
        p Yönlendirme puanlarınız arttıkça hak ediş bonuslarınızın değeri de artar. 
        p Daha çok arkadaşınızla referans link paylaştıkça, karşılıklı kazanma şansınız da artmış olacak! 
        p Öyleyse hemen şimdi:
        p Cüzdanınızın yanında bulunan Referans linkini kopyalayıp arkadaşınızla paylaşarak Referans programına başlayabilirsiniz!
        p Arkadaşınız ICRYPEX’e üye olurken paylaştığınız referans linki üzerinde yazan Referans Kimliğini kopyalar ve “Referans Kimliği” bölümüne yapıştırır. Böylece üyeliği ve KYC işlemi tamamlandıktan sonra, ICRYPEX Referans Programı’na girmiş olur. 
           
    .awards__item.awards__item--reversed 
      .awards__banner 
        picture
          source(srcset="./img/webp/aw2.webp" type="image/webp")
          img(src="./img/aw2.png" alt="")
      .awards__content 
        .title Arkadaşlarınızı para göndermeye davet edİn
        p Davet edenler, ….. yıllık geçerlilik süresi ile %40’lık bonus oranına sahiptir. Ali’nin Ayşe ile bu oranın %10’unu paylaşmayı seçip kendisine %30’luk bir referans bonus oranı ayırdığını düşünelim.
        p Ayşe 100 TRY’lik bir işlem ücreti oluşturduğunda, Ali, 30 TRY’lik Ayşe ise 10 TRY’lik bir bonus kazanır.
        p Bu oran üzerinden Ali, çoklu davet kodlarının işlevini kullanarak diğer davetlilere “farklı paylaşım oranları”na sahip davetiye QR kodları gönderebilir.     

    .awards__item
      .awards__banner 
        picture
          source(srcset="./img/webp/aw3.webp" type="image/webp")
          img(src="./img/aw3.png" alt="")
      .awards__content 
        .title Ödüllendİrme
        p Arkadaşınız referans linkiniz aracılığıyla kaydolmayı tamamladığında, “Arkadaşının Kullanıcı Numarası” bölümüne eklenir. Arkadaşınız KYC doğrulamasını tamamlayıp işlem yapmaya başlar başlamaz bonusları almaya başlayabilirsiniz………….. ekranı üzerinden hak ettiğiniz bonusları görüntüleyebilir ve dilediğinizce çekebilirsiniz. Bonuslar, TRY birimi üzerinden hesabınıza aktarılacaktır.
        p Şartlar ve Koşullar için bkz. 
          a(href="https://icrypex.com/gc-legal" target="_blank") icrypex.com/gc-legal 
      