section.deliveryWatch 
  .container 

    .deliveryWatch__summary 
      .title BONUS TAKİP PANOSU
      .deliveryWatch__filter 
        .select
          button.btn.btn--secondary.select__title Tüm Hesaplar
          .select__inner 
            .select__content
              button.btn.select__value Value 1
              button.btn.select__value Value 2
              button.btn.select__value Value 3
              button.btn.select__value Value 4
              button.btn.select__value Value 5
        button.btn.btn--secondary(disabled)  Tümü
        button.btn.btn--secondary Dün
        button.btn.btn--secondary Bu Hafta
        button.btn.btn--secondary Bu Ay
      .deliveryWatch__result 
        .deliveryWatch__resultItem 
          p Kazançlarınız 
          .deliveryWatch__resultTotal 0,000 BTC
            span +0BTC
        .deliveryWatch__resultItem 
          p İşlem Yapmaya Başlayan Arkadaşlar
          .deliveryWatch__resultTotal 0,000
            span +0
        .deliveryWatch__resultItem 
          p Arkadaşlar 
          .deliveryWatch__resultTotal 0,000
            span +0
    
    .deliveryWatch__info 
      .title KOMİSYON İADESİ
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .deliveryWatch__table 
        table 
          thead 
            tr
              td Arkadaşının Kullanıcı Numarası
              td Kazanılan Komisyon
              td Arkadaşın Alım Sarım Tarihi
              td Komisyon Zamanı
              td Dağıtım Durumu
          tbody 
            tr 
              td 000000000000000
              td 0.0000 TRY
              td 0000.00.00 00:00
              td 00:00
              td Beklemede
