.hero_wrapper
    picture 
        source(srcset="./img/banner.png", media="(min-width: 768px)")
        img(src="./img/banner.png", alt="bannner")
    .hero_content   
        h2 Arkadaşını davet et, hep birlikte kazanmaya başla!