section.hero
  .container
    picture.hero__banner
      source(srcset="./img/webp/banner.webp" type="image/webp")
      img(src="./img/banner.png" alt="" width="393" height="393")
    .hero__content   
      h2.heading Arkadaşını davet et, hep birlikte kazanmaya başla!
      include ./range.pug
    
    
