.modal(id="qr_modal") 
  .modal__inner 
    button.btn.close 
      img(src="/img/icons/close-white.svg", alt="")
    img(src="/img/qr.png", alt="").qr
    p Referans Kimliği
    p 
      span 07387299