.range 
  .range__line
  input(type="range" min="1" max="500" id="hero_range")
  //- img(src="./img/icons/slider.svg", alt="")
  svg(viewBox="0 0 451 15" xmlns="http://www.w3.org/2000/svg" style="width: 100%")
    linearGradient(id="linear-gradient")
      stop(offset="0%" stop-color="red")
      stop(offset="100%" stop-color="blue")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M1.92945 9.85203C0.86385 9.85203 0 8.98819 0 7.9226V7.9226C0 6.857 0.863836 5.99316 1.92943 5.99316H447.758C448.823 5.99316 449.687 6.857 449.687 7.9226V7.9226C449.687 8.98819 448.823 9.85203 447.758 9.85203H1.92945Z")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M436 7.92289C436 4.01938 439.164 0.854965 443.068 0.854965C446.971 0.854965 450.136 4.01938 450.136 7.92289C450.136 11.8264 446.971 14.9908 443.068 14.9908C439.164 14.9908 436 11.8264 436 7.92289Z")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M362.998 7.92289C362.998 4.01938 366.163 0.854965 370.066 0.854965C373.97 0.854965 377.134 4.01938 377.134 7.92289C377.134 11.8264 373.97 14.9908 370.066 14.9908C366.163 14.9908 362.998 11.8264 362.998 7.92289Z")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M291.002 7.92289C291.002 4.01938 294.166 0.854965 298.069 0.854965C301.973 0.854965 305.137 4.01938 305.137 7.92289C305.137 11.8264 301.973 14.9908 298.069 14.9908C294.166 14.9908 291.002 11.8264 291.002 7.92289Z")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M218 7.92289C218 4.01938 221.164 0.854965 225.068 0.854965C228.971 0.854965 232.136 4.01938 232.136 7.92289C232.136 11.8264 228.971 14.9908 225.068 14.9908C221.164 14.9908 218 11.8264 218 7.92289Z")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M144.998 7.92289C144.998 4.01938 148.163 0.854965 152.066 0.854965C155.97 0.854965 159.134 4.01938 159.134 7.92289C159.134 11.8264 155.97 14.9908 152.066 14.9908C148.163 14.9908 144.998 11.8264 144.998 7.92289Z")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M73.0015 7.92289C73.0015 4.01938 76.1659 0.854965 80.0694 0.854965C83.9729 0.854965 87.1373 4.01938 87.1373 7.92289C87.1373 11.8264 83.9729 14.9908 80.0694 14.9908C76.1659 14.9908 73.0015 11.8264 73.0015 7.92289Z")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M290 7.92289C290 4.01938 293.164 0.854965 297.068 0.854965C300.971 0.854965 304.136 4.01938 304.136 7.92289C304.136 11.8264 300.971 14.9908 297.068 14.9908C293.164 14.9908 290 11.8264 290 7.92289Z")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M290 7.92289C290 4.01938 293.164 0.854965 297.068 0.854965C300.971 0.854965 304.136 4.01938 304.136 7.92289C304.136 11.8264 300.971 14.9908 297.068 14.9908C293.164 14.9908 290 11.8264 290 7.92289Z")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M0 7.92241C0 4.01891 3.16441 0.854492 7.06792 0.854492C10.9714 0.854492 14.1358 4.01891 14.1358 7.92241C14.1358 11.8259 10.9714 14.9903 7.06792 14.9903C3.16441 14.9903 0 11.8259 0 7.92241Z")

