body, input, textarea {
  font-family: $ff, sans-serif;
  font-size: $fz;
  font-weight: $fw;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {  
  width: $container;
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: $container-xl;
  }
}
