html {
  overflow-x: hidden;
}

body, input, textarea {
  font-family: 'Barlow Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: #004378;
}

img {
  display: block;
  max-width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {  
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: $container-xl;
  }
}
