.select {
  position: relative;
  display: inline-block;

  &__title {
    background: $color_lightGray;
    padding-right: 32px;

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      right: 16px;
      width: 12px;
      height: 12px;      
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url($__IMG_PATH + 'icons/dropdown.svg');
      transition: all .2s;
    }
  }

  &__inner {
    position: absolute;
    left: 0;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .2s;
    background: $color_white;
    z-index: 10;
    min-width: 100%;
    border: 1px solid $color_lightGray;
    border-top: none;
  }

  &__content {
    padding: 12px;
  }

  &__value {
    display: block;

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &.active {

    .select__title {
      
      &::before {
        transform: rotate(180deg)
      }
    }

    .select__inner {
      max-height: 100vh;
      opacity: 1;
      pointer-events: auto;
    }
  }
}
